@media screen and (min-width:300px) and (max-width:768px) {
    #homeIcon {
        height: 250px;
        width: 245px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -125px 0 0 -120px;
    }
    #an {
        height: 26px;
        width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: +150px 0 0 -140px;
    }
}

@media (min-width:769px) {
    #homeIcon {
        height: 472px;
        width: 462px;
    }
    #an {
        position: absolute;
        /*margin: -250px 0 0 0px;*/
        width: 600px;
    }
}
