@media screen and (min-width:300px) and (max-width:919px) {
    #homeIcon {
        height: 250px;
        width: 245px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -125px 0 0 -120px;
    }
    #an {
        height: 26px;
        width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: +150px 0 0 -140px;
    }
    .pag_bg1 {
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -250px 0 0 +150px;
    }
    .pag_bg1:hover {
        transform: rotate(+10deg);
    }
    .pag_bg2 {
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: +300px 0 0 +230px;
        transform: rotate(+20deg);
    }
    .pag_bg2:hover {
        transform: rotate(-10deg);
    }
    .pag_bg3 {
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: +95px 0 0 -250px;
        transform: rotate(-50deg);
    }
    .pag_bg3:hover {
        transform: rotate(-10deg);
    }
    #pag2_text {
        font-size: 60px;
    }
}

@media (min-width:920px) {
    #homeIcon {
        height: 472px;
        width: 462px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -200px 0 0 -500px;
    }
    #an {
        width: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -0px 0 0 -150px;
    }
    .pag_bg1 {
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -200px 0 0 +300px;
    }
    .pag_bg1:hover {
        transform: rotate(+10deg);
    }
    .pag_bg2 {
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: +250px 0 0 +300px;
        transform: rotate(+20deg);
    }
    .pag_bg2:hover {
        transform: rotate(-10deg);
    }
    .pag_bg3 {
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: +95px 0 0 +150px;
        transform: rotate(-50deg);
    }
    .pag_bg3:hover {
        transform: rotate(-10deg);
    }
    #pag2_text {
        padding-top: 5vh;
    }
    .pag2_coffee {
        font-size: 30px;
    }
}
