@media (min-width:920px) {
    #pag3_text {
        text-align: center;
        font-size: 75px;
        padding-top: 5vh;
        font-weight: bold;
        color: #4d342f;
    }
}

@media screen and (min-width:300px) and (max-width:919px) {
    #pag3_text {
        text-align: center;
        font-size: 50px;
        padding-top: 5vh;
        font-weight: bold;
        color: #4d342f;
    }
}

.p3_rwdMain {
    display: none;
    text-align: left;
    font-size: 20px;
    /*background-color: #4d342f;*/
}

.p3_but {
    font-size: 45px;
    border: 0px #4d342f solid;
    /*border-radius: 10px;*/
    /*color: #4d342f;*/
    color: #efebe9;
    text-align: center;
    background: #4d342f;
    /*border: 0px;*/
    z-index: 2;
    opacity: 0.8;
    transition: background-color 0.5s;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

.p3_but:hover {
    color: #4d342f;
    background-color: #efebe9;
    box-shadow: 4px 4px rgba(0, 0, 0, 0);
}

.p3_rwdMain li {
    /*border: 0px #4d342f solid;*/
    margin-left: -30px;
    margin-top: +5px;
    font-size: 25px;
    /*border-radius: 10px;*/
    /*color: #4d342f;*/
    color: #efebe9;
    background: #8d6e63;
    /*border: 0px;*/
    /*z-index: 2;*/
    opacity: 0.8;
    transition: background-color 0.5s;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

.circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #4d342f;
    float: right;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

.speech-bubble {
    display: none;
    position: relative;
    background-color: #434343;
    width: 200px;
    height: 150px;
    line-height: 150px;
    /* 垂直居中 */
    color: white;
    text-align: center;
    border-radius: 50%;
    font-family: sans-serif;
    transform: rotate(+15deg);
}

.speech-bubble:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 30px solid;
}


/* 箭头的位置 */

.speech-bubble-right:after {
    border-style: solid;
    border-width: 30px 0 0 60px;
    border-color: transparent transparent transparent #434343;
    margin: 100px -50px 0 0;
}
