＊ {
    height: 100%;
}

.collapsed:hover {
    background: #ffcc99;
}

.test:hover {
    background: #a1887f;
    margin: 0 px;
    padding: 0 px;
    /* 當滑鼠經過時，背景顏色改變 */
}

#hello:hover {
    background: #a1887f;
    /* 當滑鼠經過時，背景顏色改變 */
}

a:hover {
    color: #795548;
}

#home {
    background-color: #ffcc99;
    background-size: cover;
    height: 100vh;
}

#second {
    background-color: #ffcc99;
    background-size: cover;
    height: 100vh;
}

#third {
    background-image: url(images/pag_3.jpg);
    opacity: 0.7;
    background-size: cover;
    color: white;
    height: 100vh;
    padding: 100 px 0 0 0;
}

#forth {
    background-image: url(images/pag_4.jpg);
    opacity: 0.7;
    background-size: cover;
    color: white;
    height: 100vh;
    /*padding: 100 px 0 0 0;*/
}


}
