＊ {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

#homeIcon {
    float: left;
}

#an {
    float: left;
}

.collapsed:hover {
    background: #ffcc99;
}

.test:hover {
    background: #a1887f;
    margin: 0 px;
    padding: 0 px;
    /* 當滑鼠經過時，背景顏色改變 */
}

#hello:hover {
    background: #a1887f;
    /* 當滑鼠經過時，背景顏色改變 */
}

a:hover {
    color: #795548;
}

#home {
    background: #ffcc99 50% 0 no-repeat fixed;
    background-size: cover;
    height: 100vh;
}

#second {
    background: url(images/pag_2.png) 50% 0 no-repeat fixed;
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
}

#third {
    background: url(images/pag_3.jpg) 50% 0 no-repeat fixed;
    /*opacity: 0.7;*/
    color: white;
    height: 100vh;
    background-size: cover;
    margin: 0 auto;
    padding: 0;
}

#forth {
    background: url(images/pag_4.jpg) 50% 0 no-repeat fixed;
    /*opacity: 0.7;*/
    background-size: cover;
    margin: 0 auto;
    padding: 0;
    color: white;
    height: 100vh;
}

.p2_main {
    color: #fff;
    float: right;
    display: none;
    border: 0px solid;
    border-radius: 10px;
    background-color: #4d342f;
    width: 700px;
    margin: 0 10px 0 0;
    opacity: 0.8;
}

.p2_1, .p2_2, .p2_3, .p2_4, .p2_5, .p2_6 {
    border: 2px #ccc solid;
    border-radius: 10px;
    /*color: #4d342f;*/
    color: #fff;
    text-align: center;
    background: #4d342f;
    border: 0px;
    z-index: 2;
    opacity: 0.8;
}
